@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6c7a89;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 400px;
    height: 400px;
    background: #fff;
}

.card{
    padding: 2%;
}