@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6c7a89;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 500px;
    height: 600px;
    background: #fff;
}

.titulo{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}


textarea {
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

    width: 100%;
    height: 100px;
    background-color: #eeeeee;
    border: none;
    text-align: center;
    font-size: 12px;
}

.btn_bottom{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}
.btn{
    width: 140px;
    height: 30px;
    background: #1ba39c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background: #1dc2ba;
    color: #fff;
}

.result{
    width: 100%;
    height: 200px;
    background-color: #eeeeee;
    border: none;
}

.result p{
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}